*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
} 

main{
    margin-left: 5px;
}


/* pattern top + logo */

.top{
    background-image: url("../img/pattern.png");
    background-size: 12%;
    background-repeat: repeat;
    background-color: rgb(54, 115, 228);
}

.bool{
    width: 200px;
    margin-top: 40px;
}


.info{
    margin-bottom: 15px;
    color: grey;
}

#writer{
    color: rgb(38, 173, 218);
    text-decoration: none;
}

img{
    margin-right: 3px;
}

p{
    padding: 2px;
    margin-top: 10px;
    
}

#imginfo{
    font-size: 12px;
}

ul{
    padding-left: 1em;
    padding-top: 25px;
}
table{
    border-collapse: collapse;
    margin: 30px 3px;
}

thead{
    background-color: rgb(43, 157, 209);
    color: white;
}

th{
    text-align: left;
}

td{
    width: calc(100%/3);
}

.celeste{
background-color: rgba(67, 206, 253, 0.466);
}
p{
    display: inline;
}



.grey{
    color: gray;
}


footer{
    padding: 5px;
}

.monitor-box{
    width: 200px;
    height: 200px;
    color: white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-block: 10px;
    padding: 10px;
}

.monitor-1{
    background-image: url("../img/monitor.jpg");
}

.monitor-2{
    background-image: url("../img/graph.jpg");
}